@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Oswald:wght@300;400&display=swap");
@import "libs/vars";
@import "libs/breakpoints";
@import "libs/mixins";

@import "base/reset";
@import "base/typography";
@import "base/layout";

@import "components/button";
@import "components/hero";
@import "components/footer";
@import "components/info";
@import "components/mood";
@import "components/modal";
@import "components/menu";
@import "components/nav";
@import "components/order";

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Montserrat", sans-serif;
  background: map-get($map: $grey, $key: 900);
  font-weight: 400;

  &.lock-scroll {
    height: 100vh;
    overflow-y: hidden;

    @include bp-medium {
      padding-right: 16px;
    }
  }
}

.anim {
  opacity: 0;
  will-change: opacity;
  @include transition(opacity 0.8s ease-in);

  &.is-visible {
    opacity: 1;
  }
}
