footer {
  background-color: map-get($map: $primary, $key: 100);
  color: map-get($map: $grey, $key: 900);
  display: grid;
  grid-template-rows: auto auto;
  padding: $space-size-5 $space-size-3 $space-size-2;

  h5 {
    font-size: $font-size-3;
    text-transform: uppercase;
  }
  div {
    &:not(:last-child) {
      margin-bottom: $space-size-6;
    }

    address{
        margin-bottom: $space-size-1;
    }

    span {
      display: block;
    }
  }

  button:hover{
      background-color: map-get($map: $grey, $key: 900) !important;
  }

  @include bp-small {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // align-items: center;
    position: relative;
  }
}
